//! **************************************************************************
// Written by: Map P.20131013 on Sat Nov 03 20:12:08 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Clk" LOCATE = SITE "B8" LEVEL 1;
COMP "Closing" LOCATE = SITE "A7" LEVEL 1;
COMP "Opening" LOCATE = SITE "M4" LEVEL 1;
COMP "Motor_Close" LOCATE = SITE "P6" LEVEL 1;
COMP "PhotoEye" LOCATE = SITE "C11" LEVEL 1;
COMP "ClkOut" LOCATE = SITE "G1" LEVEL 1;
COMP "Closed" LOCATE = SITE "M5" LEVEL 1;
COMP "Opened" LOCATE = SITE "P7" LEVEL 1;
COMP "Motor_Open" LOCATE = SITE "M11" LEVEL 1;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

