//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 25 08:54:08 2018
//! **************************************************************************

SCHEMATIC START;
COMP "SOut" LOCATE = SITE "G1" LEVEL 1;
COMP "Cout" LOCATE = SITE "P4" LEVEL 1;
COMP "A" LOCATE = SITE "N3" LEVEL 1;
COMP "B" LOCATE = SITE "E2" LEVEL 1;
SCHEMATIC END;

