//! **************************************************************************
// Written by: Map P.20131013 on Sat Sep 22 16:46:07 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Carry" LOCATE = SITE "M5" LEVEL 1;
COMP "A" LOCATE = SITE "N3" LEVEL 1;
COMP "B" LOCATE = SITE "E2" LEVEL 1;
COMP "Sum" LOCATE = SITE "M11" LEVEL 1;
SCHEMATIC END;

