//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 06 09:24:32 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Clk" LOCATE = SITE "B8" LEVEL 1;
COMP "AnOut<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "AnOut<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "AnOut<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "AnOut<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "StBtn0_3" LOCATE = SITE "A7" LEVEL 1;
COMP "StBtn1_2" LOCATE = SITE "M4" LEVEL 1;
COMP "sseg<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "sseg<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "sseg<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "sseg<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "sseg<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "sseg<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "sseg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "ClkOut" LOCATE = SITE "G1" LEVEL 1;
COMP "State0Qout" LOCATE = SITE "M5" LEVEL 1;
COMP "State1Qout" LOCATE = SITE "M11" LEVEL 1;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

