//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 16 11:40:39 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Din" LOCATE = SITE "P11" LEVEL 1;
COMP "ssdSegOut<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "ssdSegOut<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "ssdSegOut<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "ssdSegOut<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "ssdSegOut<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "ssdSegOut<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "ssdSegOut<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "ssdSegOut<7>" LOCATE = SITE "N13" LEVEL 1;
COMP "MCLK" LOCATE = SITE "B8" LEVEL 1;
COMP "CLKin" LOCATE = SITE "G12" LEVEL 1;
PIN CLKin_pin<0> = BEL "CLKin" PINNAME PAD;
PIN "CLKin_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "ssdSelectOut<0>" LOCATE = SITE "K14" LEVEL 1;
COMP "ssdSelectOut<1>" LOCATE = SITE "M13" LEVEL 1;
COMP "ssdSelectOut<2>" LOCATE = SITE "J12" LEVEL 1;
COMP "ssdSelectOut<3>" LOCATE = SITE "F12" LEVEL 1;
NET "MCLK_BUFGP/IBUFG" BEL "MCLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLKin_BUFGP/IBUFG" BEL "CLKin_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

