//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 16 10:32:37 2018
//! **************************************************************************

SCHEMATIC START;
COMP "notQ" LOCATE = SITE "M5" LEVEL 1;
COMP "XLXN_42" LOCATE = SITE "N5" LEVEL 1;
COMP "XLXN_43" LOCATE = SITE "P6" LEVEL 1;
COMP "XLXN_46" LOCATE = SITE "P7" LEVEL 1;
COMP "CLKin" LOCATE = SITE "P11" LEVEL 1;
COMP "Q" LOCATE = SITE "M11" LEVEL 1;
COMP "Din" LOCATE = SITE "L3" LEVEL 1;
SCHEMATIC END;

