

NET "Din" LOC = P11;
NET "CLKin" LOC = G12;
NET "nQout" LOC = M5;

# PlanAhead Generated physical constraints 

NET "notQ" LOC = M5;
NET "Q" LOC = M11;
NET "X1" LOC = N5;
NET "X2" LOC = P6;
NET "X3" LOC = P7;
